@import "tailwindcss";

:root {
  --font-family-gothic:
    "Century Gothic", "Apple Gothic", "Avenir", "Gothic A1" sans-serif;
  --header-height: max(7vh, 60px);
  --dropdown-height: 50px;
  --background: #182472;
  --background-dark: #061156;
  --background-light: #3344b2;
  --foreground: #eeeeee;
  --foreground-secondary: #cccccc;
  --text-color: #ffffff;
  --text-color-secondary: #dddddd;
  --text-color-dark: #333333;
  --darkmode-invert: 100%;
}

[data-theme="light"] {
  --background: #f0f0f0;
  --background-dark: #f0f0f0;
  --background-light: #ffffff;
  --text-color: #333333;
  --foreground-color: #dddddd;
  --text-color-dark: #444444;
  --text-color-secondary: #eeeeee;
  --button-color: #eeeeee;
}
