/* @import "tailwindcss"; */

:root {
  --font-family-gothic: "Century Gothic", "Apple Gothic","Avenir","Gothic A1" sans-serif;
  --header-height: 60px;
  --dropdown-height: 40px;
  /* --blue-background: #1f37d3;
  --blue-background-dark: #041899;
  --blue-background-light: #3f51b5; */
  --background: #ffffff;
  --navbar-background: #ffffff;
  --text-color: #333333;
  --foreground-color: #dddddd;
  --text-color-dark: #444444;
  --text-color-secondary: #eeeeee;
  --button-color: #eeeeee;
}
