@import "tailwindcss";

:root {
  --font-family-gothic:
    "Century Gothic", "Apple Gothic", "Avenir", "Gothic A1" sans-serif;
  --header-height: max(7vh, 60px);
  --dropdown-height: 50px;
  --background: #182472;
  --background-dark: #061156;
  --background-light: #3344b2;
  --foreground: #3354d2;
  --foreground-secondary: #cccccc;
  --text-color: #ffffff;
  --text-color-secondary: #dddddd;
  --text-color-dark: #333333;
  --darkmode-invert: 100%;
  --canvas-background: #333333;
}

[data-theme="light"] {
  --background: #eeeeee;
  --background-dark: #aaaaaa;
  --background-light: #ffffff;
  --foreground: #dddddd;
  --foreground-secondary: #cccccc;
  --text-color: #000000;
  --text-color-secondary: #333333;
  --text-color-dark: #ffffff;
  --darkmode-invert: 0%;
  --canvas-background: #ffffff;
}
