:root {
  --sidebar-width: max(250px, 20vw);
}

.Docs {
  display: flex;
  height: 100%;
}

.Docs-sidebar {
  width: var(--sidebar-width);
  background-color: var(--background-dark);
  padding: 20px;
}

.Docs-content {
  padding: 40px;
  width: calc(100vw - var(--sidebar-width));
}

