:root {
  --sidebar-width: max(250px, 20vw);
}

.Docs {
  display: flex;
  height: 100%;
}

.Docs-sidebar {
  width: var(--sidebar-width);
  background-color: var(--background-dark);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Docs-sidebar a {
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.Docs-content {
  padding: 40px;
  width: calc(100vw - var(--sidebar-width));
  overflow: scroll;
}

.Docs-content a {
  text-decoration: underline;
}

.Docs-content a:hover {
  cursor: pointer;
}

.Docs h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.Docs h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.Docs p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.Docs a {
  color: var(--primary-light);
  text-decoration: underline;
}

.Docs table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  text-align: center;
}

.Docs table th,
.Docs table td {
  text-align: center;
}

