.Login-page {
  display: flex;
  justify-content: space-around;
  background-color: var(--background);
  height: calc(100vh - var(--header-height));
}

.Login-box {
  width: max(500px, 40%);
  padding: 30px;
  margin-top: 50px;
  border-radius: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-dark);
  color: var(--text-color);
}

.Login-title {
  font-size: 2em;
  padding: 20px;
}
