.Editor-canvas-wrap {
  background-color: var(--canvas-background);
  width: 60vw;
  height: calc(100vh - var(--header-height));
  position: relative;
  display: flex;
}

.CP-vertex {
  fill: var(--vertex-fill);
  fill-opacity: 0;
  vector-effect: non-scaling-stroke;
}

.CP-vertex:hover {
  fill-opacity: 1;
}

.Edge {
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

.Edge-wrap {
  stroke-width: 12;
  vector-effect: non-scaling-stroke;
  pointer-events: stroke;
}

.Edge-selected {
  stroke-width: 6 !important;
}

.Edge-B {
  stroke: var(--border-edge-color);
  stroke-width: 4;
}

.Edge-A {
  stroke: var(--aux-edge-color);
}

.Edge-M {
  stroke: var(--mountain-edge-color);
}

.Edge-V {
  stroke: var(--valley-edge-color);
}

.grid-line {
  stroke: var(--text-color-secondary);
  stroke-width: 1;
  opacity: 0.3;
  pointer-events: none;
  vector-effect: non-scaling-stroke;
}

.Pen-path {
  opacity: 0.8;
}

.Pen-previewDot {
  pointer-events: none;
  opacity: 0.9;
}

.Pen-previewDot-M {
  fill: var(--mountain-edge-color);
}

.Pen-previewDot-V {
  fill: var(--valley-edge-color);
}

.Pen-previewDot-B {
  fill: var(--border-edge-color);
}

.Pen-previewDot-A {
  fill: var(--aux-edge-color);
}

.Editor-canvas-toolbar {
  display: flex;
  position: absolute;
  background-color: rgb(var(--toolbar-bg) / 0.1);
  border-radius: 20px;
}

#Mode-toolbar {
  flex-direction: row;
  position: relative;
  height: 80px;
  border-radius: 0;
}

#MvMode-toolbar {
  flex-direction: row;
  inset-block-start: 110px;
  inset-inline-start: calc(100px + 20vw);
}

.Editor-canvas-modeIcon {
  width: 60px;
  padding: 5px;
  filter: invert(var(--darkmode-invert));
}

.Editor-canvas-mvIcon {
  color: var(--text-color);
  border: 2px solid;
  border-radius: 5px;
  width: 50px;
  padding: 5px;
}

.Editor-canvas-toolbar:hover {
  background-color: rgb(var(--toolbar-bg) / 0.2);
}

.Editor-canvas-toolbar-icon-inactive {
  opacity: 0.6;
}

.Editor-canvas-toolbar-icon-active {
  opacity: 1;
  background-color: rgb(var(--toolbar-bg) / 0.3);
}

.Editor-canvas-toolbar-icon-inactive:hover {
  opacity: 0.8;
}

.Delete-box {
  fill: rgba(235, 100, 100, 0.3);
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
  stroke: rgba(225, 0, 0, 0.6);
}

.ChangeMv-box {
  fill: var(--text-color-secondary);
  fill-opacity: 0.3;
  vector-effect: non-scaling-stroke;
  stroke-width: 2;
  stroke: var(--text-color);
}

#MvIcon-B {
  color: var(--border-edge-color);
}

#MvIcon-A {
  color: var(--aux-edge-color);
}

#MvIcon-M {
  color: var(--mountain-edge-color);
}

#MvIcon-V {
  color: var(--valley-edge-color);
}

.Canvas-sidebar {
  width: max(13vw, 225px);
  background: var(--foreground);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Canvas {
  width: calc(60vw - max(13vw, 225px));
  height: calc(100% - 80px);
}

.Canvas-toolbar-wrap {
  width: 40vw;
}
