.Navbar {
  height: var(--header-height);
  background-color: var(--background-dark);
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle drop shadow */
}

.Navbar-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.Navbar-logo {
  margin-top: 0px;
  margin-bottom: 0px;
  height: calc(var(--header-height) - 30px);
}

.Navbar-link {
  padding: 10px 40px;
}

.Navbar-links {
  flex-direction: column;
}

.Navbar-link:hover {
  color: var(--text-color);
  cursor: pointer;
  border-style: none none solid none;
  border-width: 2px;
  border-color: var(--text-color);
}

.Navbar-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: var(--header-height);
}

.Navbar-dropdown {
  margin: 0px 10px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Navbar-dropdown-username-wrap {
  display: flex;
  height: var(--header-height);
  padding-top: 0px;
  padding-bottom: 0px;
  align-items: center;
  flex-direction: row;
}

.Navbar-dropdown-username {
  font-weight: bold;
  align-self: center;
  margin: 10px;
  padding: 15px 15px; /* Increased padding to make the button larger */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.Navbar-dropdown-link {
  background-color: var(--foreground);
  color: var(--text-color);
  border-width: 2px;
  border-style: none none solid none;
  border-color: var(--text-color);
  height: var(--dropdown-height);
  z-index: 10000;
}

.Navbar-dropdown-link:hover {
  color: var(--foreground);
  background-color: var(--text-color);
  border-color: var(--foreground);
}

.Navbar-theme-toggle {
  height: calc(var(--header-height) - 20px);
  filter: invert(var(--darkmode-invert));
}
